#board{

    display: grid;
    grid-template-columns: repeat(4, 208px);
    grid-template-rows: repeat(5, 208px);
    gap: 50px;


}

.cell {

    display: flex;
    flex-direction: column;
    height: 208px;
    width: 208px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



#images{
    
    border: 1px solid gray;
    border-radius: 8px;
    
}

.rectangleHolder{
    height: min-content;
    width: max-content;
    padding: 10px;
    background-color: rgba(239, 214, 100, 1);
    border-radius: 7px;
    border: 1px solid black;
    position: relative;
    rotate: -6.5deg;
    left: 20px;
    bottom: 30px;
    font-size: 15px;
}